## Query.nearbyProperties.res.vtl
#set( $items = [] )

#set( $tokens = [] )

#foreach( $entry in $context.result.hits.hits ) 
    #if( !$foreach.hasNext ) 
        $util.qr($tokens.add($entry.sort.get(0)))
        $util.qr($tokens.add($entry.sort.get(1)))
    #end 
    $util.qr($items.add($entry.get("_source")))
#end
$util.toJson({
"items": $items,  
  "total": $ctx.result.hits.total,  
  "nextToken": $tokens
})